<h1>How Does Your Block Vote?</h1>
<h2>lorem ipsum...</h2>
<form class="address-form">
  <label class="address-form__label">Enter your address</label>
  <input id="address-form__input" class="address-form__input" place>
  <button id="address-form__button" class="address-form__button">send</button>
</form>
