<div class="gothamist-logo-container">
  <div class="gothamist-logo-separator">
    <img class="gothamist-logo" alt="Gothamist."
                                src="{{assetPath}}i/gothamist_logo@2x.png" width=68 height=68
                                srcset="{{assetPath}}i/gothamist_logo.png 1x,
                                {{assetPath}}i/gothamist_logo@2x.png 2x,
                                {{assetPath}}i/gothamist_logo@3x.png 3x">
  </div>
</div>
<div class="address-form">
  <h1 class="address-form__heading">Does Your Block Vote?</h1>
  <p class="subheading address-form__subheading">Voter turnout varies dramatically from one block to another in New York City. Enter your address and email below to find out if your neighbors vote&mdash;and to stay updated on this November's results.</p>
  <form class="address-form__form address-form__form--stacked">
    <div class="address-form__input-wrapper">
      <input id="address-form__address-input" class="address-form__input" placeholder="123 Broadway, New York, NY">
      <input id="address-form__email-input" class="address-form__input" placeholder="Your@Email.com" type="email">
      <button type="submit" id="address-form__button" class="address-form__button">Submit</button>

      <div class="checkbox-wrapper">
        <input type="checkbox" class="checkbox__input" id="legal" checked>
        <label for="legal" class="checkbox__label">
          <div class="checkbox__label-text">
            By submitting your information, you're agreeing to receive communications from New York Public Radio in accordance with our <a href="https://www.wnyc.org/terms/" target="-_blank">Terms of Use</a>.
          </div>
        </label>
      </div>
    </div>
    <div class="address-form__errors"></div>
    <div class="address-form__multiples"></div>
  </form>
</div>

<div class="separator">
</div>

<div class="election-hub-callout">
  <span class="election-hub-callout__question-mark">?</span> <p>Not sure whom to vote for this election season? <a href="https://elections.wnyc.org?utm_medium=partnersite&utm_source=gothamist&utm_campaign=dbv" target="_blank">Visit Our Elections Hub</a></p>
</div>
