<form class="address-form">
  <label class="address-form__label">Enter your address:</label>
  <input id="address-form__input" class="address-form__input">
  <button id="address-form__button" class="address-form__button">
</form>
