@import 'vars';

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-family: $font-opensans;
  font-size: 14px;
  line-height: 1.57;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
}

button {
  display: inline-block;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0;
}

p, li {
  @media screen and (min-width: 800px) {
    font-size: 18px;
    line-height: 27px;
  }
}
