@import 'mixins';

main {
  max-width: 800px;
  margin: auto;
}

.gothamist-logo {
  display: block;
  margin: 80px auto 24px auto;
}

.address-form {
  padding-top: 11px;
}

.address-form__heading {
  font-family: $font-montserrat;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.29;
  margin-bottom: 8px;
}
.address-form__subheading {
  margin-bottom: 24px;
  text-align: center;
}
.address-form__form {
  background-color: $lightgray;
  margin: 16px;
  padding: 18px 18px 33px 18px;
}
.address-form__label {
  margin-bottom: 8px;
  text-align: center;
  display: block;
  font-size: 14px;
  font-weight: 600;
}
.address-form__input-wrapper {
  @include one-line-form;
  margin-bottom: 12px;
}
.address-form__errors {
  text-align: center;
  color: $red;
  font-weight: 600;
  font-size: 14px;
}
.address-form__multiples {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}
.address-form__multiples p {
  margin-bottom: 12px;
}
.address-form__multiples a {
  color: $blue;
  font-size: 14px;
  font-weight: 600;
  display: block;
  text-decoration: underline;
  margin-bottom: 16px;
  cursor: pointer;
}

.district-details__eyebrow-link {
  display: block;
  color: $blue;
  margin: 30px auto 24px auto;
  width: 219px;
  border: double 4px #333333;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.district-details h1 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 20px;
}

.nav-tabs {
  height: 30px;
  border-bottom: solid 1px #dddddd;
  margin: 0 25px 32px;
}

.nav-tabs__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
  height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-tabs__item {
  height: 30px;
  padding: 0 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  border-bottom: solid 2px transparent;
  &.active {
    border-bottom: solid 2px #de1e3d;
  }
}

.district-ranking__scores {
  justify-content: space-between;
  display: flex;

  margin: 0 auto 45px auto;
  max-width: 200px;
}

.district-ranking__grade {
  font-family: Montserrat;
  font-size: 45px;
  font-weight: 600;
  line-height: 80px;
}

.district-ranking__emoji {

}


.extra-credit {
  background: $lightgray;
  padding: 24px 16px;
  margin-bottom: 40px;
}

.extra-credit__list {
  list-style: none;
  counter-reset: extra-credit;
  padding-left: 40px;
}
.extra-credit__list-item {
  counter-increment: extra-credit;
  display: block;
  position: relative;
  margin-bottom: 32px;
}
.extra-credit__list-item::before {
  content: counter(extra-credit) ". ";
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.21;
  position: absolute;
  left: -30px;
}

.email-updates__heading {
  margin: 0 16px 16px;
}

.email-updates__description {
  margin: 0 16px 20px;
}


.email-form__input-wrapper {
  margin: 0 16px 16px;
  @include one-line-form;
}

.email-form__optin-checkbox {
  display: block;
  padding: 5px 10px 0 0;
}

.email-form__optin {
  margin: 20px;
  display: flex;
}

.email-form__optin-message {
  margin: 0;
}

.sharing__heading  {
  margin-bottom: 16px;
}
.sharing__icons {
  display: flex;
  justify-content: space-around;
  margin: 0 auto 30px auto;
  max-width: 400px;
  a {
    color: black;
    &:hover {
      opacity: 0.6;
    }
  }
}

.footer {
  background: $lightgray;
  padding: 16px;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
}

.footer__data-credits {
  margin-bottom: 8px;
}
