@import 'mixins';

.page {
  display: flex;
  flex-direction: column;

  @media only screen and (min-height: 800px) {
    min-height: 100vh;
  }

  &.is-loading {
    min-height: 100vh;

    #index,
    #district-map {
      opacity: 0;
    }
  }
}

#index,
#district-map {
  opacity: 1;
  transition: opacity 500ms ease;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1;
  padding-top: 24px;
  padding-bottom: 24px;

  &.district {
    padding-bottom: 48px;
  }
}

.main-wrapper {
  position: relative;
  max-width: 800px;
  margin: auto;
}

.index {
  background-image: url(imagePath("i/city-map.png"));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(white, 0.6);
    z-index: 0;
  }
}

.city-map {
  width: 100%;
  max-width: 450px;
  display: block;
  margin: 0 auto 24px;
}

.gothamist-logo-separator {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 670px;
  margin: 0 12px;

  @media only screen and (min-width: 670px) {
    margin: 0 auto;
  }

  .gothamist-logo {
    margin: 0 12px;
  }
}

.gothamist-logo-separator:before, .gothamist-logo-separator:after {
  background-image: linear-gradient(to bottom,black,black 2px,transparent 2px,transparent 10px,black 10px,black 12px,transparent 12px,transparent 20px,black 20px,black 22px);
  content: '';
  flex: 1;
  height: 22px;
}

.address-form {
  @media only screen and (min-width: 670px) {
    max-width: 670px;
    margin: 0 auto;
  }
}

.address-form__heading {
  color: #333;
  font-family: $font-montserrat;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.29;
  margin: 0 18px 16px;

  @media only screen and (min-width: 800px) {
    font-size: 45px;
    line-height: 1.18;
  }
}

.address-form__subheading {
  background-color: white;
  color: #333;
  font-size: 14px;
  margin: 0 36px 24px;
  padding: 5px;
  text-align: center;

  @media only screen and (min-width: 800px) {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 24px;
  }
}
.address-form__form {
  background-color: rgb(240, 240, 240);
  margin: 0 16px;
  padding: 42px 18px 33px 18px;

  &--oneline {
    margin: 0 0 24px;
  }
}
.address-form__label {
  margin-bottom: 8px;
  text-align: center;
  display: block;
  font-size: 18px;
  font-weight: 600;
}
.address-form__input-wrapper {
  margin: 0 auto 12px;
  max-width: 300px;
}

.address-form__button {
  cursor: pointer;
  transition: opacity 125ms ease;

  &:hover {
    opacity: 0.6;
  }

  &[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.address-form__form--oneline .address-form__input-wrapper {
  @include one-line-form;
  margin-bottom: 12px;
}

.address-form__form--stacked {
  @media only screen and (min-width: 670px) {
    padding: 64px 79px;
    margin: 0;
  }
}

.address-form__form--stacked .address-form__input-wrapper {
  margin: 0 auto;

  @media only screen and (min-width: 670px) {
    display: flex;
    max-width: 512px;
  }
}

.address-form__form--stacked .address-form__input {
  appearance: none;

  display: block;
  color: #333;
  width: 100%;
  padding: 12px;
  background: white;
  border: none;
  border-radius: 0;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 8px;

  &::placeholder {
    font-size: 14px;
    font-style: italic;
    color: #333333;
  }

  @media only screen and (min-width: 670px) {
    margin: 0;

    &::placeholder {
      font-size: 18px;
      opacity: 0.6;
      line-height: 1.5;
    }
  }
}

.address-form__form--stacked .address-form__button {
  appearance: none;
  border: none;

  display: block;
  width: 100%;
  color: white;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;

  background-color: black;
  padding: 12px;

  @media only screen and (min-width: 670px) {
    flex-basis: 153px;
  }
}

.address-form__errors {
  text-align: center;
  color: $red;
  font-weight: 600;
  font-size: 14px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
.address-form__multiples {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}
.address-form__multiples p {
  margin-bottom: 12px;
}
.address-form__multiples a {
  color: $blue;
  font-size: 14px;
  font-weight: 600;
  display: block;
  text-decoration: underline;
  margin-bottom: 16px;
  cursor: pointer;
}

h1.district-map-title {
  font-size: 38px;
  font-weight: 400;
  color: #333333;
  font-family: $font-montserrat;

  @media screen and (max-width: 800px) {
    font-size: 24px;
  }
}

.district-details__eyebrow-link {
  display: flex;
  color: #333;
  margin: 30px auto 24px auto;
  width: 100%;
  font-size: 16px;
  font-family: $font-montserrat;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.district-details__eyebrow-link .gothamist-logo-mini {
  margin-right: 10px;
}

.district-details__eyebrow-link:before, .district-details__eyebrow-link:after {
  background-image: linear-gradient(to bottom,black,black 2px,transparent 2px,transparent 10px,black 10px,black 12px,transparent 12px,transparent 20px,black 20px,black 22px);
  content: '';
  flex: 1;
  height: 22px;
  margin: 0 30px;

  @media screen and (max-width: 800px) {
    margin: 0 12px;
  }
}

.district-details h1 {
  font-family: $font-montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 20px;
}

.nav-tabs {
  height: 30px;
  border-bottom: solid 1px #dddddd;
  margin: 0 25px 32px;
}

.nav-tabs__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
  height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-tabs__item {
  height: 30px;
  padding: 0 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  border-bottom: solid 2px transparent;
  &.active {
    border-bottom: solid 2px #de1e3d;
  }
}

.district-ranking__scores {
  justify-content: center;
  display: flex;
  margin: 0 auto 45px auto;
	align-items: center;
}

.district-ranking__your-rank {
  font-size: 28px;
  font-weight: 600;
  margin-right: 10px;

  @media screen and (max-width: 800px) {
    font-size: 18px;
  }
}

.district-ranking__letter {
  font-family: $font-montserrat;
  font-size: 45px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #333333;
  text-align: center;

  @media screen and (max-width: 800px) {
    font-size: 45px;
  }
}

.district-ranking__grade {
  align-items: center;
  display: flex;
  font-family: $font-montserrat;
  font-size: 45px;
  font-weight: 600;
  justify-content: space-between;
  margin-right: 10px;
}

.district-ranking__sharing {
  display: flex;
  max-width: 221px;
  width: 90%;
  margin: 0 auto;
}

.district-ranking__context-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.district-ranking__turnout-text {
  font-weight: 600;
  margin-top: -8px;
}

.district-ranking__context-image-container {
  flex: 1 0 200px;
  max-width: 400px;
}

.district-ranking__context-img {
  width: 100%;
}

.district-ranking__context-text {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-top: -8px;
}

.district-ranking__turnout-text p, .district-ranking__context-text p {
  margin: 3px 0;

	@media screen and (max-width: 800px) {
    font-size: 12px;
	}
}

.district-ranking__emoji-image {
  display: block;
  margin-left: 20px;
  @media screen and (max-width: 800px) {
    width: 52px;
    height: 52px;
  }
}

.district-results {
  margin: 0 16px;
  max-width: 680px;

  @media only screen and (min-width: 670px) {
    margin: 0 auto;
  }

  a {
    color: #1e66de;
  }
}

.extra-credit {
  background: #f7f7f7;
  padding: 24px 16px;
  margin-bottom: 24px;

  @media screen and (min-width: 800px) {
    display: flex;
    justify-content: space-around;
  }

  .address-form__form {
    background: none;
    padding: 0;
    margin: 0 0 32px;;
  }

  .address-form__input-wrapper {
    max-width: none;
  }

  a {
    color: #1e66de;
  }
}

.extra-credit__heading {
  font-family: $font-montserrat;

  @media screen and (min-width: 800px) {
    text-align: left;
    max-width: 224px;
  }
}

.extra-credit__list {
  list-style: none;
  counter-reset: extra-credit;
  padding-left: 40px;

  @media screen and (min-width: 800px) {
    margin-top: 0px;
    margin-bottom: 0px;
    flex: 0 0 407px;
  }
}
.extra-credit__list-item {
  counter-increment: extra-credit;
  display: block;
  position: relative;
  margin-bottom: 32px;
}
.extra-credit__list-item::before {
  content: counter(extra-credit) ". ";
  font-family: $font-montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.21;
  position: absolute;
  left: -30px;
}

.extra-credit .email-form__optin {
  font-size: 12px;
  margin-top: -5px;
}

.email-updates {
  padding: 0 15px;
}

.email-updates__heading {
  margin: 0 0 16px;
}

.email-updates__description {
  text-align: center;
  font-size: 14px;

  @media only screen and (min-width: 670px) {
    text-align: left;
    line-height: 1.57;
    padding-right: 16px;
  }
}


.email-form__input-wrapper {
  margin-bottom: 16px;
  @include one-line-form;
}

.email-form__optin-checkbox {
  display: block;
  padding: 5px 10px 0 0;
}

.email-form__optin {
  display: flex;
}

.email-form__optin-message {
  margin: 0;
  font-size: 12px;
  line-height: 1.33;

  a {
    color: #1e66de;
  }
}

@supports (display: grid) {
  @media screen and (min-width: 800px){
    .email-updates {
      display: grid;
      grid-template:
      "title     form"
      "description form"
    }

    .email-updates h2 {
      text-align: left;
      margin-bottom: -5px;
    }

    .email-updates__heading {
      grid-area: title;
    }

    .email-updates__description {
      grid-area: description;
    }

    .email-updates form {
      grid-area: form;
    }
  }
}


.sharing__heading  {
  margin-bottom: 16px;
  margin-right: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #000000;

}

.sharing__icons {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;

  a {
    color: black;
    &:hover {
      opacity: 0.6;
    }
  }
}

.footer {
  color: rgba(0, 0, 0, 0.6);
  background: $lightgray;
  padding: 50px 16px 75px;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;

  a {
    color: inherit;
  }
}

.footer__disclaimer {
  display: none;

  font-size: 14px;
  font-style: oblique;
  max-width: 670px;
  margin: 0 auto 8px;
  line-height: 24px;

  .district + .footer & {
    display: block;
  }
}

ul.footer__disclaimer {
  font-style: normal;
  padding: 0;
  list-style: none;
  margin-bottom: 32px;

  li {
    font-size: 14px;
  }
}

.footer__data-credits {
  margin-bottom: 8px;
}

.election-hub-callout {
  background-color: white;

  padding: 8px;
  width: 300px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: 670px) {
    width: 100%;

    .district & {
      font-size: 14px;
    }
  }

   > p {
     margin: 0;
   }

   a {
     color: #1e66de;
   }
}

.election-hub-callout__question-mark {
  font-family: $font-montserrat;
  font-size: 24px;
  font-weight: 600;
  margin-right: 10px;
  flex-basis: 45px;
  text-align: center;

  @media only screen and (min-width: 670px) {
    font-size: 36px;
  }
}

.separator {
  background-image: linear-gradient(to bottom,black,black 2px,transparent 2px,transparent 10px,black 10px,black 12px,transparent 12px,transparent 20px,black 20px,black 22px);
  height: 22px;
  margin: 40px 16px 24px;

  @media only screen and (min-width: 670px) {
    margin-left: 0;
    margin-right: 0;

    .district & {
      margin-bottom: 40px;
    }
  }

  .district & {
    margin-top: 24px;
  }
}

i.fab, i.fas {
  font-size: 24px;
}

.loading-icon {
  max-width: 75px;
  margin: auto;
}

.loading-text {
  text-align: center;
}

.gothamist-buildings {
  .building {
    animation-name: fade;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .building:nth-child(1) {
    animation-delay: 0;
  }

  .building:nth-child(2) {
    animation-delay: 250ms;
  }

  .building:nth-child(3) {
    animation-delay: 500ms;
  }

  .building:nth-child(4) {
    animation-delay: 750ms;
  }

  .building:nth-child(5) {
    animation-delay: 1s;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
