.background {
  fill: #eee;
  pointer-events: all;
}

.map-layer {
  fill: #fff;
  stroke: #fff;
}

.selected-map-layer {
  fill-opacity: 0;
  stroke: yellow;
  stroke-width: 1px;
}

.map {
  display: block;
  margin: 0 auto 40px auto;
  width: 100%;
  height: 360px;
  max-width: 800px;
}

text {
  font-family: sans-serif;
  font-weight: 500;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
  fill: #404040;
  text-transform: uppercase;
}
