// FONTS
$font-opensans: 'Open Sans', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

// COLORS
$blue: #1e66de;
$lightblue: #128cf4;
$red: #de1e3d;
$error-red: #d0021b;
$azure: #128cf4;

$offwhite: #f8f8f8;
$lightgray: #e6e6e6;
$gray: #888888;
$warmgray: rgba(136, 136, 136, 0.5);
$darkgray: #333;
$offwhite: #f8f8f8;
